@font-face {
  font-family: 'Alice';
  font-style: normal;
  font-weight: 400;
  src: local('Alice Regular'), local('Alice-Regular'), url(https://fonts.gstatic.com/s/alice/v9/acf9XsUhgp1k2j79ATk2cw.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(https://fonts.gstatic.com/s/ptmono/v5/ePgFvqOCiLHhAQZDY_ploA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Serif Caption';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif Caption'), local('PTSerif-Caption'), url(https://fonts.gstatic.com/s/ptserifcaption/v9/7xkFOeTxxO1GMC1suOUYWVRF2Zew_pgh0xNsNWxurqo.ttf) format('truetype');
}

@charset "UTF-8";

/* brewer */
@font-face {
  font-family: "brewer";
  src:url("https://file.myfontastic.com/b5C3X9kYBrwoHLeLnoTnTe/fonts/1511800194.eot");
  src:url("https://file.myfontastic.com/b5C3X9kYBrwoHLeLnoTnTe/fonts/1511800194.eot?#iefix") format("embedded-opentype"),
    url("https://file.myfontastic.com/b5C3X9kYBrwoHLeLnoTnTe/fonts/1511800194.woff") format("woff"),
    url("https://file.myfontastic.com/b5C3X9kYBrwoHLeLnoTnTe/fonts/1511800194.ttf") format("truetype"),
    url("https://file.myfontastic.com/b5C3X9kYBrwoHLeLnoTnTe/fonts/1511800194.svg#1511800194") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "brewer" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ib-"]:before,
[class*=" ib-"]:before {
  font-family: "brewer" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ib-phone:before {
  content: "\61";
}
.ib-vk:before {
  content: "\62";
}
.ib-insta:before {
  content: "\63";
}

@media screen and (max-width: 1366px) {
  .page-header .top-info-section .top-logo-wrap a .top-logo {
    max-width: 80%;
  }
  .page-header .top-info-section .site-descript {
    top: 42px;
  }
  .page-header .top-info-section .tel-wrap {
    top: 11px;
  }
  .slider-container {
    height: 500px;
  }
}
@media screen and (max-width: 1199px) {
  .page-header .top-info-section {
    color: #844a17;
  }
  .page-header .top-info-section .site-descript {
    top: 34px;
    left: 23px;
    font-size: 22px;
  }
  .page-header .top-info-section .top-logo-wrap {
    bottom: 20px;
  }
  .page-header .top-info-section .tel-wrap {
    top: 10px;
    right: 30px;
  }
  .page-header .top-info-section .tel-wrap .top-tel {
    font-size: 20px;
    margin-bottom: 0;
  }
  .page-header .top-info-section .tel-wrap .top-tel .ib-phone {
    top: 3px;
  }
  .page-header .top-info-section .tel-wrap .callback-button {
    width: 210px;
    left: 10px;
    letter-spacing: 1px;
    font-size: 18px;
  }
  .page-header .navbar {
    min-height: 20px;
    border-bottom: 4px solid #014c20;
  }
  .page-header .brewer-top-navigation {
    top: -10px;
  }
  .page-header .brewer-top-navigation .brewer-top-nav a {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .page-header .brewer-top-navigation .brewer-top-nav .active {
    position: relative;
  }
  .page-header .brewer-top-navigation .brewer-top-nav .active a {
    position: relative;
    background-color: transparent;
    font-weight: 700;
  }
  .page-header .brewer-top-navigation .brewer-top-nav .active a:before {
    display: block;
    position: absolute;
    top: -4px;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #014c20;
  }
  .page-header .brewer-top-navigation .brewer-top-nav .active a:hover {
    color: #014c20;
  }
  .page-header .brewer-top-navigation .brewer-top-nav .active a:focus {
    background-color: transparent;
  }
  .menu-preview .float-logo {
    display: none;
  }
  .menu-preview .container .menu-preview-content p {
    min-height: 500px;
  }
  .menu-preview .container .loyalty h3 {
    font-size: 24px;
    text-transform: none;
    font-weight: 700;
  }
  .menu-preview .container .loyalty p {
    height: auto;
    min-height: inherit;
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 991px) {
  .page-header .top-info-section .top-logo-wrap a .top-logo {
    max-width: 60%;
  }
  .page-header .top-info-section .site-descript {
    top: 30px;
  }
  .page-header .top-info-section .tel-wrap {
    top: 18px;
  }
  .main-section .news {
    border-left: none;
    border-top: 1px solid #fcc855;
    padding-top: 20px;
    clear: both;
  }
  .main-section .news .news-preview-wrapper {
    padding-left: 0;
  }
  .main-section .read-columns article {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
  .main-section .news-list {
    border-top: none;
  }
  .main-section .news-list .news-preview-wrapper {
    text-align: center;
  }
  .main-section .news-list .news-preview-wrapper img {
    float: none;
    margin: 0 auto 30px;
  }
  .main-section .news-list .news-preview-wrapper h3 {
    margin-bottom: 20px;
  }
  .menu-preview {
    padding-bottom: 20px;
  }
  .menu-preview .container .menu-preview-content {
    margin-bottom: 70px;
  }
  .menu-preview .container .menu-preview-content p {
    min-height: auto;
    margin-bottom: 40px;
  }
  .menu-preview .container .menu-preview-content .button-link {
    text-align: center;
    margin: auto;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .menu-preview .container .loyalty p {
    margin-bottom: 18px;
  }
  .yellow-divider-block {
    padding: 50px 0;
  }
  .slide__content .slide__content-wrap .slide__text .slide__text-link {
    background-color: #844a17;
    color: white;
    padding: 4px 10px;
  }
  .slide__content .slide__content-wrap .slide__text .slide__text-link:before {
    display: none;
  }
  .slide__content .slide__content-wrap .slide__text .slide__text-link:after {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .page-header #topper {
    border-top: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .page-header #topper .top-info-section .site-descript {
    top: 0;
    left: 0;
  }
  .page-header #topper .top-info-section .top-logo-wrap {
    bottom: 0;
  }
  .page-header #topper .top-info-section .top-logo-wrap a .top-logo {
    max-width: 90px;
    margin: 0;
  }
  .page-header #topper .top-info-section .tel-wrap {
    top: 0;
    text-align: center;
  }
  .page-header #topper .top-info-section .tel-wrap .callback-button {
    float: none;
    margin: auto;
  }
  .page-header #topper .navbar {
    position: absolute;
    right: 0;
    top: 0;
    border-bottom: none;
    width: 100%;
    background-color: transparent;
  }
  .page-header #topper .navbar .container .navbar-header .navbar-toggle {
    border: 2px solid #844a17;
  }
  .page-header #topper .navbar .container .navbar-header .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, 0.35);
  }
  .page-header #topper .navbar .container .navbar-header .navbar-toggle span {
    background-color: #844a17;
  }
  .page-header #topper .navbar .container .navbar-header .callback-button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 50px;
    padding: 10px 20px 16px;
    font-size: 5vw;
    letter-spacing: 2px;
    font-weight: 300;
  }
  .page-header #topper .navbar .container .navbar-header .navbar-brand {
    font-size: 4vw;
    color: #844a17;
    font-style: italic;
    font-weight: 500;
  }
  .page-header #topper .navbar .container .navbar-collapse {
    background-color: #fcc855;
    position: relative;
    margin-top: 5px;
    z-index: 4;
    border: none;
  }
  .page-header #topper .navbar .container .navbar-collapse .navbar-nav {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    overflow: hidden;
  }
  .page-header #topper .navbar .container .navbar-collapse .navbar-nav li {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .main-section .partners a {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .menu-preview {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .menu-preview .container .menu-preview-content {
    text-align: center;
  }
  .menu-preview .container .menu-preview-content .thumb {
    float: none;
    width: 100%;
    max-width: 250px;
    margin: 0 0 20px 0;
  }
}
@media screen and (max-width: 500px) {
  .page-header #topper {
    padding-bottom: 0;
  }
  .page-header #topper .top-info-section .tel-wrap .top-tel {
    position: relative;
    top: 10px;
    font-size: 4vw;
    text-align: center;
    min-height: 34px;
  }
  .page-header #topper .top-info-section .tel-wrap .top-tel .ib-phone {
    display: none;
  }
  .page-header #topper .top-info-section .tel-wrap .callback-button {
    position: relative;
    left: -1vw;
    top: -10px;
    width: auto;
    max-width: 190px;
    padding: 10px 20px;
    font-size: 3.7vw;
    letter-spacing: 0;
  }
  .page-header #topper .top-info-section .top-logo-wrap a .top-logo {
    max-width: 17vw;
  }
  .slider-container {
    height: 360px;
  }
  .slider-container .slide__content .slide__content-wrap .slide__text {
    width: 100%;
    text-align: center;
  }
  .slider-container .slide__content .slide__content-wrap .slide__text .slide__text-heading {
    font-size: 6vw;
    line-height: 9vw;
  }
  .main-section .partners div a {
    display: block;
    margin-top: 0px;
    margin-bottom: 80px;
  }
  .main-section .partners div:last-child a {
    margin-bottom: 0;
  }
  .modal-form-wrapper .form-brand-wrapper {
    display: none;
  }
  .modal-form-wrapper .form-thanks {
    overflow: hidden;
  }
  .modal-form-wrapper .form-thanks .thanks_wrapper {
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
  }
}
